pandas~=2.0.3
matplotlib~=3.7.2
requests~=2.27.1
seaborn~=0.12.2
cffi~=1.15.1
Pillow~=10.0.0
pip~=22.0.4
attrs~=22.1.0
cryptography~=40.0.1
docutils~=0.16
Jinja2~=3.0.2
pytz~=2023.3
pytest~=7.1.2
numpy~=1.25.2
setuptools~=67.6.1
openpyxl~=3.1.2
lxml~=4.9.3
MarkupSafe~=2.1.1
python-dateutil~=2.8.2
py~=1.11.0
certifi~=2021.10.8
six~=1.16.0
idna~=3.3
urllib3~=1.26.9
contourpy~=1.1.0
selenium~=4.11.2
fonttools~=4.42.1
pyparsing~=3.0.9
cycler~=0.11.0
packaging~=23.1
kiwisolver~=1.4.5
platformdirs~=3.10.0